@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    background-color: #21232A;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

button{
    color: black;
    padding: 15px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1.3rem;
}

img {
    width: 100px;
    
}

.cardCharacter {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #2C2F33;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 25rem;
    cursor: pointer;
}